.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: cursive;  
}
*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.activeLink {
  color: rgb(161, 17, 197);
}
a {
  text-decoration: none;
  color: #444;
}
ul {
  background-color: #efefef;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 4rem;
  font-size: 18px;
}
ul li {
  margin-right: 40px;
}
header {
  background-color: #ddd6fe;
  width: 100%;
  padding: 0.5rem;
}
@media screen and (max-width: 375px){
  ul {
    font-size: 12px;
  }
}
footer {
  background-color: #ccc;
  width: 100%;
  height: 8px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.mainBox {
  font-family: cursive;  
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: 
                       "nav  main"
                       "nav  foot";
  grid-template-rows: 1fr 80px;
  grid-template-columns: 200px 1fr;
}
.header {
  width: 100%;
  grid-area: head;
}

.sideBar {
  grid-area: nav;
  background-color: #ede9fe;
}
.mainComp{
  grid-area: main;
}
.pagination {
  grid-area: foot;
}
.sideBar {
  padding-left: 15px;
}
.formControl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
  color: #444;
}
.formControl select {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #444;
}

.mainComp {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 30px; */
  /* background-color: rgb(202, 251, 182); */
}

.paginateComp {
  display: flex;
  justify-content: center;
  align-items: center;

}
.paginateComp button {
 margin: 1rem;
 padding: 0.5rem;
 width: 40px;
 height: 40px;
 border-radius: 100%;
 text-align: center;
 background-color: #8b5cf6;
 color: #fff;
 font-weight: bold;
 font-size: 12px;
}
.filterComp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(237, 245, 248); */
  margin: 1.2rem;
  width: 160px;
  height: 170px;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
}
.avatar{
  display: inline-block;
  height: 140px;
  width: 140px;
  text-align:center;
  border-radius: 100%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height : 100%;
}


@media screen and (max-width: 375px){
  
}
.location , .episode{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem;
  width: 220px;
  height: 140px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ddd6fe;
  color: #777;
  border: 1px solid  #ccc;
  box-shadow: 5px 4px 3px 3px #f5f3ff;
}
.location h5{
  display: inline;
}
.fullCharacter {
  margin: 0;
	font-family: sans-serif;
	font-weight: 100;
  display: flex;
  padding: 1rem 4rem;
}
@media screen and (max-width: 768px){
  .fullCharacter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-left: 1rem;
  
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  padding: 5px;
	background-color: rgba(255,255,255,0.2);
	color: #aaa;
}


table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

.episodeBox{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
input {
  width: 90%;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input:hover {
  border: 1px solid #8b5cf6;
}
input:focus {
  border: 1px solid #8b5cf6;
}
button {
  border: #8cffa0;
  padding: 5px;
}
.searchBox input {
  width: 300px;
  top: 100px;
  left: 20px;
}
button[type=submit] {
  background-color: #fff;
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: cursive;
  font-weight: bold;
  margin-top: 40px;
  border: 1px solid #8b5cf6;
  color: #999;
}
form {
  margin-top: 40px;
}
.episodeTable, .locationTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.episodeTable h2, .locationTable h2 {
  color: #555;
  margin-bottom: 2rem;
}
.error {
  display: flex;
  flex-direction: column;
}